<div class="panel panel-default">
    <div class="panel-heading">
        Edit Branch Details
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <div (click)="save()" class="btn btn-default btn-sm">Save</div>
                <div (click)="resetClicked()" class="btn btn-default btn-sm">
                    Reset
                </div>
                <div (click)="addRow()" class="btn btn-default btn-sm">Add</div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>String 1</th>
                <th>Int 1</th>
                <th></th>
            </tr>
            <tr *ngFor="let item of items">
                <td>
                    <input
                        [(ngModel)]="item.string1"
                        class="form-control input-sm"
                        type="text"
                    />
                </td>
                <td>
                    <input
                        [(ngModel)]="item.int1"
                        class="form-control input-sm"
                        type="number"
                    />
                </td>
                <td>
                    <div (click)="removeRow(item)" class="btn btn-default">
                        <span
                            aria-hidden="true"
                            class="glyphicon glyphicon-minus"
                        ></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
